# vim files
*.swp
*~

# no need to save ctags "tags" file
tags

# The hardware-configuration file is generated at install time
hardware-configuration.nix

# computer specific options
options.nix
configuration.nix

# environemt file to hold docker secrets
docker/**/*.env

# secrets file
secrets.nix

# veloren user data
docker/veloren/userdata/

# The result of nixos-rebuild test
result
